//breakpoints
$small-phone: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;

$sidebar-extended-width: 220px;
$sidebar-minimized-width: 75px;

$card-border-radius: 1.25em;

$header-height: 3em;

$pos-grid-card-height: 4.5em;

$border-radius: 0.25em;